#admission{
    background-color:  #EAEAEA;
    
    display: flex;
    flex-direction: column;
    
}



.flex_dis {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.FULL_WIDTH {
    width: 100%;
}
.DEFINED_WIDTH {
    width: 1170px;
    margin: 0 auto;

}
.large-fonts {
color: #0540F2;
text-align: center;
 font-size: 64px;
 font-family: Belanosima;
 font-weight: 400;
 word-wrap: break-word;
}
.small-font{
    margin: 40px 180px 0 180px;
    text-align: center;
    color: #222222;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
}
.blue_box {
    width: 30%;
    height: 200px;
    background-color: blue;
    border-radius: 25px;
}
.button_div {
    margin: 60px 80px 228px 0;
    width: 269px; height: 53px; background: #0540F2; border-radius: 60px;
    color: white; 
}

.image_div {
    width: 607px;
    height: 534px;
    top: 3466px;
    left: 70px;
    border-radius: 25px;
}
.check_point_list {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.list_font {
    font-family: Belanosima;
    font-size: 32px;
    
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width: 549px;
    height: 42px;

}

.bg_blue {
    background-color: blue;
    color: white;
}
.round_image {
    width: 145px;
    height: 145px;
    top: 4568px;
    left: 647px;
    margin: 0 auto;
}
.person_name {
    margin: 15px auto;
}
.Admission-images{
    margin:70px 0 0 0;
    display: flex;
    flex-direction: row;

}
.display_flex{
    display: flex;
    flex-direction: column;
    margin: 39px 0 0 54px;
}
.check-pointflex{
    display: flex;
    flex-direction: row;
}
